*{
    /* border: solid blue 0.5px; */
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8e9cf;
}

a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

span {
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    display: grid;
    grid-template-columns: minmax(270px, 1fr) minmax(650px, 5fr);
    grid-template-rows: minmax(130px, 1fr) minmax(700px ,5fr);
}

.top {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: minmax(270px, 1fr) minmax(650px, 5fr);
}

.head {
    background-color: #fcf4e9;
    box-shadow: 0px 6px 6px 0px rgba(182, 182, 182, 0.459);
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.head-top {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.head-top > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.search-bar {
    background: rgba(194, 194, 194, 0.596);
    display: flex;
    border-radius: 60px;
    height: 2.4rem;
    flex: 1;
    min-width: 200px;
}

.search-bar input {
    background: transparent;
    border: 0;
    outline: none;
    width: 100%;
    padding: 16px;
}

.search-bar button {
    border: 0;
    background: #ffffff00;
    cursor: pointer;
    padding-top: 7px;
    display: flex;
    align-items: center;
}

.notif {
    height: min-content;
    flex: 1;
    justify-content: center;
    grid-column: 2 / 3;
}

.notif {
    transform: scale(0.55)
}

.user-top {
    grid-column: 3 / 5;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.user-top > p {
    font-weight: 500;
    font-size: 1.35rem;
    display: flex;
    align-items: center;
    row-gap: 8px;
    color: rgb(49, 49, 49);
}

.top-right {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.top-right img {
    height: 5vh;
}

.sidebar {
    grid-row: 2 / 3;
    background-color: #4dbdbb;
    box-shadow: 6px 6px 6px 0px rgba(149, 149, 149, 0.418);
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 1.5rem;
}

.dashboard-logo {
    color: white;
    background-color: #4dbdbb;
    display: grid;
    font-weight: 900;
    font-size: 2.3rem;
    grid-template-rows: 1fr 1fr;
}

#logo {
    padding-left: 16px;
    padding-right: 16px;
    font-size: clamp(2.5rem, 2.7vw, 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-top, .side-down{
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: min-content;
    row-gap: 1.5rem;
}

.side-down {
    padding-bottom: 12rem;
}

.sidebar a:hover, .dashboard-logo a:hover {
    transition: all .075s ease;
    transform: scale(1.1);
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.head-down {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.user {
    display: flex;
    align-items: center;
    column-gap: 14px;
    padding-left: 24px;
}

.user > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user_name {
    font-weight: 700;
    font-size: 1.35rem
}

#welcome {
    font-weight: 500;
    display: flex;
    align-items: center;
}

.profile img {
    height: 7vh;
}

.triple-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 1px;
}

.triple-buttons > button {
    border-radius: 60px;
    height: 2.5rem;
    width: 6rem;
    background-color: #4dbdbb;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}

.triple-buttons button:hover {
    transition: all .085s ease;
    transform: scale(1.08);
}

.main-container {
    margin: 1.5rem ;
    display: grid;
    grid-template-columns: 3fr 1fr;
}