*{
    /* border: solid blue 0.5px; */
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8e9cf;
}

a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

span {
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    display: grid;
    grid-template-columns: minmax(270px, 1fr) minmax(650px, 5fr);
    grid-template-rows: minmax(130px, 1fr) minmax(700px ,5fr);
}

.top {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: minmax(270px, 1fr) minmax(650px, 5fr);
}

.head {
    background-color: #fcf4e9;
    box-shadow: 0px 6px 6px 0px rgba(182, 182, 182, 0.459);
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.head-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.search-bar {
    background: rgba(194, 194, 194, 0.596);
    display: flex;
    border-radius: 60px;
    height: 2.4rem;
    flex: 1;
    min-width: 200px;
}

.search-bar input {
    background: transparent;
    border: 0;
    outline: none;
    width: 100%;
    padding: 16px;
}

.search-bar button {
    border: 0;
    background: #ffffff00;
    cursor: pointer;
    padding-top: 7px;
    display: flex;
    align-items: center;
}

.search-bar button:hover {
    transition: all .09s ease;
    transform: scale(1.25);
}

.notif {
    height: min-content;
    flex: 1;
    justify-content: center;
    grid-column: 2 / 3;
}

.notif {
    transform: scale(0.55)
}

.user-top-right {
    grid-column: 3 / 5;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-right: 24px;
}

.user-top-right > p {
    font-weight: 500;
    font-size: 1.35rem;
    display: flex;
    align-items: center;
    row-gap: 8px;
    color: rgb(49, 49, 49);
}

.user-top-right img {
    height: 5vh;
}

.sidebar {
    grid-row: 2 / 3;
    background-color: #4dbdbb;
    box-shadow: 6px 6px 6px 0px rgba(149, 149, 149, 0.418);
    display: flex;
    height: 120%;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 5rem;
}

.dashboard-logo {
    color: white;
    background-color: #4dbdbb;
    display: grid;
    font-weight: 900;
    font-size: 2.3rem;
    grid-template-rows: 1fr 1fr;
}

#logo {
    padding-left: 16px;
    padding-right: 16px;
    font-size: clamp(2.5rem, 2.7vw, 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-top, .side-down{
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: min-content;
    row-gap: 1.5rem;
}

.side-down {
    padding-bottom: 12rem;
}

.dashboard-logo a:hover {
    transition: all .06s ease;
    transform: scale(1.05);
}

.sidebar a:hover {
    transition: all .075s ease;
    transform: scale(1.1);
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* min-height: 100vh; */
    overflow: auto;

}

.head-down {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.user {
    display: flex;
    align-items: center;
    column-gap: 14px;
    padding-left: 24px;
}

.user > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user_name {
    font-weight: 700;
    font-size: 1.35rem
}

#welcome {
    font-weight: 500;
    display: flex;
    align-items: center;
}

.profile img {
    height: 7vh;
}

.triple-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.triple-buttons > button {
    border-radius: 60px;
    height: 2.5rem;
    width: 6.5rem;
    background-color: #4dbdbb;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}

.triple-buttons button:hover {
    transition: all .085s ease;
    transform: scale(1.08);
}

.main-container {
    margin: 1.5rem ;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
}


.main-right {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 32px;
}

.announcements {
    display: grid;
    grid-template-rows: 30px 12fr;
}

.trending {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.uptitle{
    font-weight: 700;
    font-size: 1.2rem;
    max-height: min-content;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.075);
}

.card-container {
    padding-top: 10px;
    min-width: 200px;
}

.card > div {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    height: min-content;
    padding-top: 16px;
    padding-bottom: 16px;
}

.title {
    font-weight: 700;
    height: min-content;
}

.border-bottom {
    border-bottom: 1px solid rgb(195, 195, 195);
}

.your-projects {
    padding: 16px;
    display: grid;
    grid-template-rows: 32px 24fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding-top: 10px;
}

.project-cards {
    background-color: white;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.075);
    border-radius: 12px;
    border-left: 0.5rem solid #858585;
    min-height: 200px;
}

.project-content {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
}

.text-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.text-title {
    display: flex;
    height: 24px;
    padding-top: 24px;

}

.paragraph {
    display: flex;
    align-items: flex-start;
    color: rgb(68, 68, 68);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 5%;
}

.button-container > span {
    height: min-content;
}

.button-container span:hover {
    transition: all .07s ease;
    transform: scale(1.15);
    cursor: pointer;
}

.trend-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.075);
    padding-top: 16px;
}

.trends {
    display: flex;
    flex-direction: row;
    padding: 8px;

}

.trends img {
    width: 50px;
    height: 50px;
}

.profile {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.username {
    font-weight: 700;
    font-size: 1.1rem;
    height: min-content;
    padding-bottom: 16px;
}

.user-txt {
    color: rgb(68, 68, 68);
}